<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>P6CGa5vC9rO4ybHGnkkCr616d784BjaHrdLDIWxp0iMrwVr1NQ</string>
	<key>consumer_Key</key>
	<string>Tsbp9TS2hLj15C4XXBcFBTAPz</string>
</dict>
</plist>
